TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
TRADER1_BOT_TOKEN=
JACK_BOT_TOKEN=
TONY_BOT_TOKEN=

SEND_TELEGRAM=false
TELEGRAM_THREAD_ID=
SYMBOL_LIMIT=20
BINANCE_INTERVAL=1h
FAST_SMA=20
SLOW_SMA=50
NEWS_MODE=crypto
NEWS_LIMIT=4
TWITTERAPI_IO_KEY=
